.product-discussion__label-div{
    position: fixed;
    right:550px;
    top: 430px;
    height: 50px;
    width:300px;
    
    display: flex;
    align-items: center;
}

.product-display__label{
    font-size:33px;
    color: lightgray
}

.product-discussion__outerDiv{
    background:lightgray;
    border-radius:30px;
    box-shadow: 0 0 5px 5px grey;
    height: 700px;
    width:800px;
    position: fixed;
    right:70px;
    top: 500px;
    
}

.commentInput__container{
    height: 150px;
    width:800px;
    border-bottom: 3px solid black;
    margin-top: 20px;
}

.input__box{
    width:660px;
    height:100px;
    margin:15px;
    border-radius:10px;
    margin-left:65px;
}

.addComment__button{
    position:fixed;
    right:140px;
    bottom: 280px;
}

.comments__container-outter{
    height: 700px;
    width:795px;
    position: fixed;
    right:70px;
    top: 700px;
    border: 3px solid black;
    overflow: auto;
}

.comment{
    width:795px;
    height: 150px;
    position: fixed;
    right:70px;
    top: 700px;
    border: 3px solid red;
    
    
}

.pfp__image-comment{
    width:60px;
    height:60px;
    border: 3px solid green;
    position:absolute;
    top:40px;
    left:7px;
    border-radius: 50%;
}
.pfp__username{
    height:20px;
    width: 150px;
    border: 3px solid orange;
    position: absolute;
    left: 80px;
    top:5px;

}

.commet__body{
    border: 3px solid blue;
    height: 70px;
    width: 680px;
    position: absolute;
    left: 80px;
    top:37px;
}
.posted{
    height:20px;
    width: 150px;
    border: 3px solid purple;
    position:absolute;
    bottom:5px;
    left:80px;
}


.edit__comment-tools{
    height: 21px;
    width:100px;
    border: 3px solid black;
    position:absolute;
    bottom:0;
    right:5px;
    margin-bottom: 5px;
}