.product-discussion__label-div{
    position: fixed;
    right:520px;
    top: 430px;
    height: 50px;
    display: flex;
    align-items: center;
}

.product-display__label{
    font-size:33px;
    color: lightgray;
}

.product-discussion__outerDiv{
    background:lightgray;
    border-radius:30px;
    box-shadow: 0 0 5px 5px grey;
    height: 500px;
    width:800px;
    position: fixed;
    right:70px;
    top: 500px;
    overflow: auto;
    
}

.commentInput__container{
    height: 180px;
    width:800px;
    border-bottom: 3px solid black;
    /* margin-top: 0px; */
}

.input__box{
    width:660px;
    height:100px;
    /* margin:15px; */
    border-radius:10px;
    
    margin-left:65px;
    margin-bottom:10px;
    background-color: honeydew;
    position:relative;
    top:30px;
}

.addComment__button{
    position:fixed;
    right:140px;
    bottom: 295px;
    font-size:22px;
    padding: 5px;
    border-radius: 10px;
    background: transparent;
    border: none
}

.addComment__button:hover{
    background-color: green; 
    border: 3px solid green; 
    color: white; 
}

.comments__container-outter{
    height: 300px;
    width:795px;
    position: fixed;
    right:70px;
    top: 700px;
    /* border: 3px solid black; */
    overflow: auto;
    
}

.comment{
    width:795px;
    height: 150px;
    /* display:flex;
    right:70px;
    top: 700px; */
    border: 3px solid black;
    margin-bottom: 10px;
    
}

.pfp__image-comment{
    width:60px;
    height:60px;
    /* border: 3px solid green; */
    display:flex;
    margin-top:40px;
    margin-left:5px;
    border-radius: 50%;
}
.pfp__username{
    height:20px;
    width: 150px;
    position:relative;
    bottom: 95px;
    left:80px;
    display:flex; 
    justify-content: center;
    

}

.comment__body{
    border-radius:10px;
    background-color: transparent;
    border: none;
    height: 70px;
    width: 680px;
    position:relative;
    bottom:110px;
    left:80px;
    padding-left:10px;
    padding-top: 20px;
    
    
}


.posted{
    height:20px;
    /* width: 200px; */
    /* border: 3px solid purple; */
    display:flex;
    position:relative; 
    /* bottom:0px; */
    margin-left: 10px;
    
}


.edit__comment-edit{
    height:25px;
    width:25px;
    
    position:relative;
    left:710px;
    bottom:170px;
    
} 

/* .edit__comment-delete{
    height:25px;
    width:25px;
    position:relative;
    left:700px;
    bottom:170px;
    
}  */


.edit__comment-delete:hover{
    cursor:pointer;
}

/* .delete__review{
    border:3px solid red;
    color:red;
    position:relative;
    left:400px;
    bottom:170px;
} */

.error_message-review{
    color:red;
    border: 3px solid black;
    /* width:200px; */
    text-align: center;
}

.delete__review{
    background: transparent;
    border: none;
    position: relative; 
    left:90%; ;
    bottom:100px;
    
}

@media screen and (max-width:1895px){
    .product-discussion__outerDiv{
        height: 500px;
        width: 95.5%;
        overflow: auto;
        border-top: 3px solid black;
        position:absolute;
        top:90%;
        left:2.5%;
        border-radius: 0;
        box-shadow: none;
        display:flex;
        justify-content: center;
        z-index:1;
    }

    .commentInput__container{
        height: 45%;
        width:80%;
    }
     
    .input__box{
        width:90%;
        height:100px;
        border-radius:10px;
        margin-left:5%;
        margin-bottom:10px;
        background-color: honeydew;
        position:relative;
        top:30px;
        padding-top: 1%;
        padding-left:1%;
    }
    
   
    .addComment__button{
        position:absolute;
        right:15%;
        bottom: 295px;
        font-size:22px;
        padding: 5px;
        border-radius: 10px;
        background: transparent;
        border: none;
    }
    
    .addComment__button:hover{
        background-color: green; 
        border: 3px solid green; 
        color: white; 
    }

    .comment{
        width:95.5%;
        height: 150px;
        border: 3px solid black;
        /* margin-bottom: 10px; */
        position:relative;
        top:3%;
        left: 2%;
        z-index:2
        
    }

    .comments__container-outter{
        height: 300px;
        width:96%;
        position: absolute;
        top:50%;
        left:2%;
        overflow: auto;
        
    }
    
    .comment__body{
        border-radius:10px;
        background-color: transparent;
        border: none;
        height: 70px;
        width: 90%;
        position:relative;
        bottom:110px;
        left:80px;
        padding-left:10px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
  
    }
    
    .pfp__username{
        height:20%;
        width: 100%;
        position:relative;
        left:0;
        display:flex; 
        justify-content: center;
        align-items:center;
    
    }
    
    .posted{
        height:fit-content;
        width:50%;
        display:flex;
        position:relative; 
        bottom:8%;
        justify-content:center;
    }
    
    .product-discussion__label-div{
        display:none;
    }
  

}

@media screen and (max-width:1560px){

    .product-discussion__label-div{
      display:none;
    }

    .product-discussion__outerDiv{
        height: 500px;
        width: 95.5%;
        overflow: auto;
        border-top: 3px solid black;
        position:absolute;
        top:115%;
        left:2.5%;
        border-radius: 0;
        box-shadow: none;
        display:flex;
        justify-content: center;
        z-index:1;
    }

    .commentInput__container{
        height: 45%;
        width:80%;
    }
     
    .input__box{
        width:90%;
        height:100px;
        border-radius:10px;
        margin-left:5%;
        margin-bottom:10px;
        background-color: honeydew;
        position:relative;
        top:30px;
        padding-top: 1%;
        padding-left:1%;
    }
    
   
    .addComment__button{
        position:absolute;
        right:15%;
        bottom: 295px;
        font-size:22px;
        padding: 5px;
        border-radius: 10px;
        background: transparent;
        border: none;
    }
    
    .addComment__button:hover{
        background-color: green; 
        border: 3px solid green; 
        color: white; 
    }

    .comment{
        width:95.5%;
        height: 150px;
        border: 3px solid black;
        /* margin-bottom: 10px; */
        position:relative;
        top:3%;
        left: 2%;
        z-index:2
        
    }

    .comments__container-outter{
        height: 300px;
        width:96%;
        position: absolute;
        top:50%;
        left:2%;
        overflow: auto;
        
    }
    
    .comment__body{
        border-radius:10px;
        background-color: transparent;
        border: none;
        height: 70px;
        width: 90%;
        position:relative;
        bottom:110px;
        left:80px;
        padding-left:10px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
  
    }
    
    .pfp__username{
        height:20%;
        width: 100%;
        position:relative;
        left:0;
        display:flex; 
        justify-content: center;
        align-items:center;
    
    }
    
    .posted{
        height:fit-content;
        width:50%;
        display:flex;
        position:relative; 
        bottom:8%;
        justify-content:center;
    }
    

}

@media screen and (max-width:1460px){

    .product-discussion__label-div{
      display:none;
    }

    .product-discussion__outerDiv{
        height: 500px;
        width: 95.5%;
        overflow: auto;
        border-top: 3px solid black;
        position:absolute;
        top:115%;
        left:2.5%;
        border-radius: 0;
        box-shadow: none;
        display:flex;
        justify-content: center;
        z-index:1;
    }

    .commentInput__container{
        height: 45%;
        width:80%;
    }
     
    .input__box{
        width:90%;
        height:100px;
        border-radius:10px;
        margin-left:5%;
        margin-bottom:10px;
        background-color: honeydew;
        position:relative;
        top:30px;
        padding-top: 1%;
        padding-left:1%;
    }
    
   
    .addComment__button{
        position:absolute;
        right:15%;
        bottom: 295px;
        font-size:22px;
        padding: 5px;
        border-radius: 10px;
        background: transparent;
        border: none;
    }
    
    .addComment__button:hover{
        background-color: green; 
        border: 3px solid green; 
        color: white; 
    }

    .comment{
        width:95.5%;
        height: 150px;
        border: 3px solid black;
        /* margin-bottom: 10px; */
        position:relative;
        top:3%;
        left: 2%;
        z-index:2
        
    }

    .comments__container-outter{
        height: 300px;
        width:96%;
        position: absolute;
        top:50%;
        left:2%;
        overflow: auto;
        
    }
    
    .comment__body{
        border-radius:10px;
        background-color: transparent;
        border: none;
        height: 70px;
        width: 90%;
        position:relative;
        bottom:110px;
        left:80px;
        padding-left:10px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
  
    }
    
    .pfp__username{
        height:20%;
        width: 100%;
        position:relative;
        left:0;
        display:flex; 
        justify-content: center;
        align-items:center;
    
    }
    
    .posted{
        height:fit-content;
        width:50%;
        display:flex;
        position:relative; 
        bottom:8%;
        justify-content:center;
    }
    

}