.collections__container{
    width: 80%;
    height: 650px;
    border: 3px solid black;
    position: absolute; 
    top: 300px;
    /* bottom: 0; */
    right: 200px;
    overflow: auto; 
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background:lightgrey;

}


.collection__card{
    height: 260px;
    width: 250px;
    border: 3px solid red;
    margin: 40px;
    margin-left: 50px;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey

}

.collection__title{
    height: 50px;
    width: 246px;
    border: 3px solid purple; 
    position: absolute;
    /* top: 250px; */
    border-radius: 0 0 30px 30px;
    font-size:33px;
    text-align: center;
}

.collection__image{
    height: 204px;
    width: 246px; 
    border: 3px solid green;
    border-radius: 30px 30px 0 0 ;
}
