.pd__tile-home{
    border: 3px solid black;
    max-height:450px;
    min-height:450px;
    min-width: 400px;
    max-width:400px;
    margin:10px;
    margin-right: 15px;
    background-color: lightgrey;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__display-label{
    color: white;
    position:relative;
    top:420px;
    left:780px;
}

.product__display{
    height: fit-content;
    width: 90%;
    position:absolute;
    left:5%; 
    top:43%;
    overflow: auto;
    display: flex;
    float:left;
    flex-wrap: wrap;
   

}

.product__title{
    height:10px;
}


.pd__image{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:90px;
    width:90px;
    margin:5px;
    
}

.pd__image-home{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100%;
    width:100%;
    border-radius: 4px;


    
}


.pd__name{
    position: fixed;
    left: 22%;
    top:51%;

}

.pd__title{
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color:black;
    position:absolute;
    left: 10%;
}



.pd__name{
    position: fixed;
    left: 22%;
    top:51%;

}

.pd__title{
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color:black;
    position:absolute;
    left: 10%;
}


.pd__tag{
    position:fixed;
    top:49.5%;
    left:52%;
    display:flex;
    justify-content: center;

}

.pd__price-home{
    position:absolute;
    border:3px solid black;
    background-color:white;
    color:green;
    font-size: xx-large;
    margin-top:20%;
    margin-left: 13%;
    padding:20px;
    border-radius:79% 21% 70% 30% / 74% 30% 70% 26% ;

}

h5{
   border:3px purple solid;
   background-color:purple;
   border-radius:10px; 
   padding:5px;
   color:white;
   font-weight:bold;

}

.pd__voteCount{
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:70px;
    width:70px;
    position:fixed;
    top:51%;
    left:65%;
}


@media  screen and (max-width:1390px) {
    .product__display{
        height: fit-content;
        width: 90%;
        position:absolute;
        left:5%; 
        top:43%;
        overflow: auto;
        display: flex;
        float:left;
        flex-wrap: wrap;
        justify-content: center;

    }

    .pd__price-home{
        position:absolute;
        border:3px solid black;
        background-color:white;
        color:green;
        font-size: xx-large;
        margin-top:27%;
        margin-left: 19%;
        padding:20px;
        border-radius:79% 21% 70% 30% / 74% 30% 70% 26% ;
    
    }
}


@media  screen and (max-width:1238px){
    .product__display{
        height: fit-content;
        width: 90%;
        position:absolute;
        left:5%; 
        top:43%;
        overflow: auto;
        display: flex;
        float:left;
        flex-wrap: wrap;
        justify-content: center;

    }

    .pd__price-home{
        position:absolute;
        border:3px solid black;
        background-color:white;
        color:green;
        font-size: xx-large;
        margin-top:30%;
        margin-left: 19%;
        padding:20px;
        border-radius:79% 21% 70% 30% / 74% 30% 70% 26% ;
    
    }

}


@media  screen and (max-width:1238px){
    .product__display{
        height: fit-content;
        width: 90%;
        position:absolute;
        left:5%; 
        top:43%;
        overflow: auto;
        display: flex;
        float:left;
        flex-wrap: wrap;
        justify-content: center;

    }

    .pd__price-home{
        position:absolute;
        border:3px solid black;
        background-color:white;
        color:green;
        font-size: xx-large;
        margin-top:34%;
        margin-left: 23%;
        padding:20px;
        border-radius:79% 21% 70% 30% / 74% 30% 70% 26% ;
    
    }

}
