.bkg__login-layer1{
    height:100vh;
    background-image: url('./bkg__home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}





/*  in case you missed it  */
/* newest products in db */

.new__products-label{
    position:fixed;
    top:140px;
    left:760px;
    /* border: 3px solid green; */
    padding:3px;
    color:white;
    
     
}

.users__products-label {
    color: white;
    position: relative;
    left: 1510px;
    top:230px;
}

/* .hidden{
    display:none;
} */

.hidden:hover{
    
}
.previous{
    height: 225px;
    width: 60%;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    position:fixed;
    left:14%;
    top:20%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.previous__mockup{
    border: 3px solid black;
    height:100px;
    border-radius: 30px;
    margin: 3px;
    
}

.previous__image{
    grid-row-start: 1;
    grid-row-start: 1;
   
    box-shadow: 0 0 5px 5px grey;
    height:80px;
    width:80px;
    border-radius:50%;
    /* margin: 10px; */
    position:relative; 
    left:3%;
    top:7%;
    margin-top:9px;

}

.previous__name{
    grid-row-start: 1;
    grid-row-start: 1;
    /* 
    box-shadow: 0 0 5px 5px grey; */
    height:23px;
    width:250px;
    position:relative;
    left: 26%;
    bottom:75px;
    overflow:hidden;
    font-size:20px;
    color: black;
}

.previous__tagLine{
    grid-row-start: 1;
    grid-row-start: 1;
    /* border-radius:10px; */
    /* box-shadow: 0 0 5px 5px grey; */
    height:31px;
    width:400px;
    position:relative;
    left: 20%;
    bottom:63px;
    overflow:hidden;
    padding:5px;
    /* border:3px black solid; */
}
/* product display */



/* new arivals  */
.newArival{
    height: 500px;
    width: 20%;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    position:fixed;
    left:78%; 
    top:30%;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
}


.newArrivals__mockup{
    border: 3px solid black;
    height:160px;
    border-radius: 30px;
}


.newArival__image{
    /* grid-row-start: 1;
    grid-column-start:1; */
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:90px;
    width:90px;
    border-radius:50%;
    margin:15px;
}

.newArival__name{
    /* grid-row-start: 1;
    grid-column-start:1; */
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:20px;
    width:150px;
    position:fixed;
    left: 86%;
    top:35%;
}

.newArival__tagLine{
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:20px;
    width:200px;
    position:fixed;
    left: 86%;
    top: 41%;
}
