.bkg__login-layer1{
    height:100vh;
    background-image: url('./bkg__home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


/*  header  */
.header{
    height: 100px;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    margin:30px;
    position:fixed;
    left:70px;

}

.home__logo{
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:70px;
    width:70px;
    position:fixed;
    top:4%;
    left:7%;
}

.home__search{
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    border-radius:30px;
    height:30px;
    width:450px;
    position:fixed;
    top:6%;
    left:15%;
}

.home__links{
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:30px;
    width:400px;
    position:fixed;
    top:6%;
    left:47%;
}
.home__addProduct{
    border:5px black solid;
    height:40px;
    width:40px;
    position:fixed;
    top:5.5%;
    left:75%;
}

.home__pfp{
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:70px;
    width:70px;
    border-radius:50%;
    position:fixed;
    top:4%;
    left:90%; 
}


/*  in case you missed it  */
.previous{
    height: 200px;
    width: 60%;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    position:fixed;
    left:14%;
    top:20%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.previous__mockup{
    border: 3px solid black;
    height:100px;
    border-radius: 30px;
}

.previous__image{
    grid-row-start: 1;
    grid-row-start: 1;
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:70px;
    width:70px;
    border-radius:50%;
    /* margin: 10px; */
    position:fixed; 
    left:15%;
    top:21%;
    margin:4px;

}

.previous__name{
    grid-row-start: 1;
    grid-row-start: 1;
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:20px;
    width:200px;
    position:fixed;
    left: 23%;
    top:22%;
}

.previous__tagLine{
    grid-row-start: 1;
    grid-row-start: 1;
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:20px;
    width:300px;
    position:fixed;
    left: 23%;
    top:26%;
}
/* product display */



/* new arivals  */
.newArival{
    height: 500px;
    width: 20%;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    position:fixed;
    left:78%; 
    top:30%;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
}


.newArrivals__mockup{
    border: 3px solid black;
    height:160px;
    border-radius: 30px;
}


.newArival__image{
    /* grid-row-start: 1;
    grid-column-start:1; */
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:90px;
    width:90px;
    border-radius:50%;
    margin:15px;
}

.newArival__name{
    /* grid-row-start: 1;
    grid-column-start:1; */
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:20px;
    width:150px;
    position:fixed;
    left: 86%;
    top:35%;
}

.newArival__tagLine{
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:20px;
    width:200px;
    position:fixed;
    left: 86%;
    top: 41%;
}
