html{
    background-color: #333333;

}

.bkg__login-layer1{
    /* background-image: url('./bkg__home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0; */
    /* bottom: 0; */
    /* overflow:scroll; */
    background-color: #333333;
    height: 100vh;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

}


.new__products-label{
    display:none;
}

.previous:hover \ .new__products-label{
    padding:3px;
    color:white;
    position: absolute;
    top: 10%;
    border: 3px solid blue;
    background-color:grey;
    left: 43.5%;
    z-index: 3;
    opacity:.9;
}

.new__products-label{
    /* position:fixed;
    top:140px;
    left:760px; */
     
}

.users__products-label {
    color: white;
    position: relative;
    left: 1510px;
    top:230px;
}

.previous{
    height: 225px;
    width: 60%;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    position:absolute;
    left:18%;
    top:10%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}


.previous__mockup{
    border: 3px solid black;
    height:100px;
    border-radius: 30px;
    margin: 3px;
    
}

.previous__image{
    grid-row-start: 1;
    grid-row-start: 1;
    box-shadow: 0 0 5px 5px grey;
    height:80px;
    width:80px;
    border-radius:50%;
    position:relative; 
    left:3%;
    top:7%;
    margin-top:9px;

}

.previous__name{
    grid-row-start: 1;
    grid-row-start: 1;
    height:27px;
    width:70%;
    position:relative;
    left: 20%;
    bottom:90px;
    overflow:hidden;
    font-size:20px;
    color: black;
    overflow:hidden;
}

.previous__tagLine{
    grid-row-start: 1;
    grid-row-start: 1;
    height:26px;
    width:fit-content;
    max-width:330px;
    position:relative;
    left: 20%;
    bottom:73px;
    overflow:hidden;
    padding:5px;
}

.learnMore{
    height: 26px;
    width: 120px;
    position:relative;
    left: 78%;
    bottom:99px;
    display: flex;
    align-items: center;
    color: Green;
}

.divider{
    border-top: 3px solid lightgrey;
    height: 10%;
    width: 90%;
    position: absolute; 
    top: 40%;
    left: 5%;
}

/* product display */

/* new arivals  */
.newArival{
    height: 527px;
    width: 20%;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    position:fixed;
    left:78%; 
    top:30%;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
    /* border: 3px solid black; */
    overflow:hidden;
}

.newArrivals__mockup{
    border: 3px solid black;
    height:160px;
    border-radius: 30px;
    margin:5px;
}

.newArival__image{
    box-shadow: 0 0 5px 5px grey;
    height:90px;
    width:90px;
    border-radius:50%;
    margin:15px;
    background-size:100% 100%;
    position: relative; 
    top:20px;
}

.newArival__name{
    font-size:22px;
    height:30px;
    width:200px;
    position:relative;
    left: 150px;
    bottom:110px;
    overflow:hidden;
    color:black;
    font-weight:bold;
}

.newArival__tagLine{
    height:70px;
    width:230px;
    position:relative;
    left: 130px;
    bottom:80px;
}


@media screen and (max-width:1629px){
    .previous__tagLine{
        grid-row-start: 1;
        grid-row-start: 1;
        height:26px;
        width:fit-content;
        max-width:230px;
        position:relative;
        left: 20%;
        bottom:73px;
        overflow:hidden;
        padding:5px;
        /* border: 3px solid red; */
    }

    .learnMore{
        height: 26px;
        width: 120px;
        position:relative;
        left: 68%;
        bottom:99px;
        display: flex;
        align-items: center;
        color: Green;
    }
}


@media screen and (max-width:1546px){
    .previous__tagLine{
        grid-row-start: 1;
        grid-row-start: 1;
        height:26px;
        width:fit-content;
        max-width:200px;
        position:relative;
        left: 25%;
        bottom:73px;
        overflow:hidden;
        padding:5px;
        /* border: 3px solid red; */
    }

    .learnMore{
        height: 26px;
        width: 120px;
        position:relative;
        left: 68%;
        bottom:99px;
        display: flex;
        align-items: center;
        color: Green;
    }
}

@media screen and (max-width:1464px){

    .previous__name{
        grid-row-start: 1;
        grid-row-start: 1;
        height:27px;
        width:65%;
        position:relative;
        left: 25%;
        bottom:90px;
        overflow:hidden;
        font-size:20px;
        color: black;
        overflow:hidden;
    }

    .previous__tagLine{
        display: none;
    }

    .learnMore{
        height: 26px;
        width: 120px;
        position:relative;
        left: 38%;
        bottom:75px;
        display: flex;
        align-items: center;
        color: Green;
    }
}



@media screen and (max-width:1028px){

    .previous__name{
        grid-row-start: 1;
        grid-row-start: 1;
        height:27px;
        width:65%;
        position:relative;
        left: 30%;
        bottom:90px;
        overflow:hidden;
        font-size:20px;
        color: black;
        overflow:hidden;
    }

    .previous__tagLine{
        display: none;
    }

    .learnMore{
        height: 26px;
        width: 120px;
        position:relative;
        left: 38%;
        bottom:75px;
        display: flex;
        align-items: center;
        color: Green;
    }
}
