@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
    width: 60%;

}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 150px;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #BDB5D5;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #BDB5D5;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  transform: translateX(30px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  transform: translateX(310px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  transform: translateX(550px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  transform: translateX(770px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


.navPositon{
    height: 5%;
    position: absolute;
    top:3%;
    left: 50%;
}


.dot{
    position: relative; 
    top:70%;
    right: 84%;
}
