/*  header  */
.header{
    height: 100px;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    margin:30px;
    position:fixed;
    left:70px;

}

.home__logo{
    border:2px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:70px;
    width:70px;
    position:fixed;
    top:5%;
    left:7%;
    background-image: url('./night-flicker.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #312E2D;
}

.home__search{
    height:30px;
    width:450px;
    position:fixed;
    top:6%;
    left:15%;
}

.search__input{
    box-shadow: 0 0 5px 5px grey
}

.search__button{
    
    height:40px;
    width:40px;
    position: fixed;
    left:760px;
    top:65px;
    background-image: url('./search__icon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home__links{
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:30px;
    width:400px;
    position:fixed;
    top:6%;
    left:47%;
}
.home__addProduct{
    border:5px black solid;
    height:40px;
    width:40px;
    position:fixed;
    top:5.5%;
    left:75%;
}

.home__pfp{
    border:5px black solid;
    box-shadow: 0 0 5px 5px grey;
    height:70px;
    width:70px;
    border-radius:50%;
    position:fixed;
    top:4%;
    left:90%; 
}