#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     z-index:3 ; 
} 
  
#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    
}
  
#modal-content {
    position: absolute;
    background: lightgray;
    background-image: url('./login__bkg-modal.png');
    background-repeat: no-repeat;
    background-size: 160% 100%;
    border:3px solid black;
    box-shadow: 0 0 5px 5px grey;
    height:500px;
    width: 500px;
    border-radius: 30px;
    padding:30px;
   

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.login__label{
    display:flex;
    justify-content: center;
    font-size:35px;
    margin:10px;
    color:white;
    font-weight:bold;
    -webkit-text-stroke:1.2px black;
   
}


input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.login__button{
    margin-left:200px;
    margin-top:50px;
    padding:7px;
    border-radius:30px;
}

.login__button:hover{
    background:#312E2D;
    color:white;
    
}


.grow:hover{
    transition: all .1s ease-in-out; 
    transform: scale(1.1);
    cursor:pointer;
}
