
.singleCollection__bkg-layer1{
    height: 100vh;
    background-image: url('./singleCollection__bkg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute; 
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.singleCollection__product-container{
    height: 650px;
    width: 80%;
    position: fixed; 
    top: 230px;
    left: 150px;
    overflow:auto;
    padding-left: 90px;
    border-radius:30px;
    display: flex;
    justify-content: center;
}

.SC__price{
    position:absolute;
    border:3px solid black;
    background-color:white;
    color:green;
    font-size: xx-large;
    margin-top:20%;
    margin-left: 13%;
    padding:20px;
    border-radius:79% 21% 70% 30% / 74% 30% 70% 26% ;
}


.SC__product-card{
    border: 3px solid green; 
    height: 600px;
    width: 500px;
    margin: 30px;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background:white; 

}

.SC__product-title{
    border: 3px solid purple ; 
    height: 75px;
    border-radius: 30px 30px 0 0;
    position:absolute;
    width: 495px;
    background: gray;
    text-align: center;
}

.SC__product-image{
    border: 3px solid black; 
    margin-top:40px;
    height: 450px; 
    position: absolute; 
    /* top: 75px;  */
    width:495px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


.SC__product-tagLine{
    border: 3px solid orange;
    height: 100px;
    position: absolute; 
    /* bottom: 32px; */
    margin-top: 495px;
    width: 495px;
    border-radius:0 0 30px 30px ;
    background: grey; 
    text-align: center;
}



/*  bubbles */

.image__bubble{
    border: 3px solid black;
    max-height:450px;
    min-height:450px;
    min-width: 400px;
    max-width:400px;
    margin:10px;
    margin-right: 15px;
    background-color: lightgrey;
    border-radius: 8px;
    display: inline-block;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


.bubbleLabels{
    height: 30px;
    width: 200px;
    border: 3px solid green;
    display: inline-block;
}




.letter{
    display:inline-block;
    border:1px dotted red;
    position: absolute;
    padding-bottom:50px;
    transform-origin: bottom;
}

.letter{
    transform: rotate(24deg);
}

.rotate{
    transform:rotate(12deg)
}
