.edit__form-div{
    width: 400px;
    height:620px;
    border: 5px solid black;
    text-align: center;
    padding:20px;
    display:flex;
    align-items:center;
    position:absolute;
    left:310px;
    bottom:130px;
    border-radius:30px;
    background:lightgrey;
    box-shadow: 0 0 5px 5px grey;

}

.form__label{
    border:3px solid black;
    width:300px;
    padding:10px;
    border-radius:30px;
    position:fixed;
    left:50px;
    top:70px;
    background:lightgray;
    box-shadow: 0 0 5px 5px grey;
    text-align:center;
}

.previous__listing-label{
    border:3px solid black;
    width:200px;
    position:fixed;
    right:648px;
    padding:3px;
    text-align:center;
    background:black;
    color:white;    

}
.outer__div{
    height:100vh;
    width:100%;
    background-image:url('./edit-info-bkg1.png');
    background-size:100% 100%;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}



.lising__display{
    margin-left:500px;

}
.edit{
    min-width:800px;
    position:absolute;
    top:0px;
    left:10%;
    height:100vh;
    padding-top:170px;
    
    
}

.pd__display-update{
    height:100vh;
    background:transparent;
    width:790px;
    
    position:fixed;
    top:0;
    right:70px;
    overflow: auto;
    background:lightgrey;
    box-shadow: 0 0 5px 5px grey;
}

.updateForm__label{
    font-size:22px;
}
