.bkg__layer1{
    height: 100vh;
    background-image: url(bkg__layer1.png);
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}
/* 
.bkg__layer2{
    display: flex;
    justify-content: center;
    align-items:center;
} */

.bkg__logo{
    height: 60px;
    width: 70px;
    position: fixed;
    top:20px;
    left:10px;
    background-image: url(lightbulb.png);
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    animation: blink .40s linear infinite;
}

.bkg__logo:hover{
    cursor: pointer;
}

@keyframes blink{
    0%{opacity: 0;}
    15%{opacity: .3;}
    50%{opacity: .5;}
    60%{opacity: .3;}
    100%{opacity: 1;}
}

.content{
    
    background: #d9dadb;
    width: 570px;
    height: 270px;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    position: fixed; 
    top: 400px;
    left: 300px;
}  
.txt__name{
    color: black; 
    width: 570px;
    height:150px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}

.txt__phrase{
    color: black;
    display: flex; 
    justify-content: space-around;
}

.links{
    height: 50px;
    display: flex;
    justify-content: space-around;
}

button{
    background:#d9dadb;
    font-size: 20px;
    border: 1px solid #d9dadb;
}
button:hover{
    cursor: pointer;
}


a{
    text-decoration: none;
    font-size: 20px; 
    display: flex;
    align-items: center;
    color: black;

}


/* coursels */
/* 
.bkg__layer3-coursel{
    border: 10px blue solid;
    width:800px;
    height:70vh;
    position: fixed; 
    top: 100px;
    right: 200px;
    padding-top:70px;
    
    
    
    
}

.top__coursel{
    border: 10px red solid;
    width: 600px;
    height: 250px;
    margin-bottom: 70px;
    
}

.bottom__coursel{
    border: 10px green solid;
    width: 600px;
    height: 250px;
    margin-left: 180px;
}

.mySlides {
    display:none;
} */