.bkg__layer1{
    height: 100vh;
    background-image: url(bkg__layer1.png);
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}
/* 
.bkg__layer2{
    display: flex;
    justify-content: center;
    align-items:center;
} */

.bkg__logo{
    height: 60px;
    width: 70px;
    position: fixed;
    top:20px;
    left:10px;
    background-image: url(lightbulb.png);
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    animation: blink .40s linear infinite;
}

.bkg__logo:hover{
    cursor: pointer;
}

@keyframes blink{
    0%{opacity: 0;}
    15%{opacity: .3;}
    50%{opacity: .5;}
    60%{opacity: .3;}
    100%{opacity: 1;}
}

.content{
    
    background: lightgrey;
    width: 570px;
    height: 270px;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    position: fixed; 
    top: 400px;
    left: 300px;
}  
.txt__name{
    color: black; 
    width: 570px;
    height:150px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}

.txt__phrase{
    color: black;
    display: flex; 
    justify-content: space-around;
}

.links{
    height: 50px;
    display: flex;
    justify-content: space-around;
}

/* button{
    background:lightgrey;
    font-weight:bold;
    border-radius:30px;
    font-size: 25px;
    border: 1px solid lightgrey;
}
button:hover{
    cursor: pointer;
    background:#312E2D;
    color:white;
} */

.signup_btn{
    color:black;
    background:lightgrey;
    font-weight:bold;
    border-radius:30px;
    font-size: 25px;
    border: 1px solid lightgrey;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px;
}

.signup_btn:hover{
    cursor: pointer;
    background:#312E2D;
    color:white;
}


/* a{
    text-decoration: none;
    font-size: 25px; 
    display: flex;
    align-items: center;
    color: black;
    padding:3px;
    

} */

/* a:hover{
    border:3px solid #312E2D;
    padding:3px;
    border-radius:30px;
    background:#312E2D;
    color:white;
} */
