.pfp__bkg-layer1{
    height:200vh;
    /* background-image: url('./pfp__bkg-layer1.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #333333;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; */
}

.pfp__info{
    height: 80%;
    
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    /* position:relative;
    overflow:hidden;
    left:250px;
    top:10%; */
    border:5px solid black;
    margin-bottom:30px;
}

.info-container{
    height: 22%;
    width: 1200px;
    padding:20px;
    position:relative;
    bottom:20px;
    left: 19%;
    top:5%;
    overflow:hidden;
    border: 3px solid orange;
}

.pfp__image{
    height:250px;
    width:250px; 
    border-radius:50%;
    border:3px solid black;
    /* box-shadow: 0 0 5px 3px grey; */
    position:relative; 
    top:6%;
    left:35%;
    margin-left:15px;
    /* border: 3px solid red; */
}

/*  */

.pfp__name{
   
    height: 50px;
    width:fit-content;
    position:relative;
    left:10%;
    top:-80%;
    text-align:center;
    color:teal;
    font-size:40px;

}

.bio__label{
    position: relative;
    bottom:99%;
    left:75%;
    padding:5px;
}   
.pfp__discription{
    height: fit-content;
    width:350px;
    position: relative;
    top:-95%;
    left:63%;
    padding:20px;
    margin-right:20px;
    text-align: center;
}

.user__bio{
    z-index: 1;
}


.profile__newpd{
    font-size:22px;
    color:black;
}




.pfp__buttons{
    height: 30px;
    width:30px;
    position:fixed;
    left:80%;
    top:46%;
    display:flex;

}

.pfp__links-active{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    position:fixed;
    left:43%;
    top:53%;
    display:flex;
    align-items:center;
    justify-content:center;
    
}

.pfp__links-active:hover{
    transition: all .1s ease-in-out; 
    transform: scale(1.1);
    cursor:pointer;
   
   
}

.home__button-profile{
    color:white;
    z-index: 1;
}

.profile{
    color:white;
    height: 50px;
}



