.pfp__bkg-layer1{
    height:200vh;
    /* background-image: url('./pfp__bkg-layer1.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #333333;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; */
}

.pfp__info{
    height: 400px;
    
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    /* position:relative;
    overflow:hidden;
    left:250px;
    top:10%; */
    border:5px solid black;
    margin-bottom:30px;
}

.info-container{
    height: 410px;
    width: 1200px;
    padding:20px;
    position:relative;
    bottom:20px;
    left: 300px;
    overflow:hidden
}

.pfp__image{
    height:250px;
    width:250px; 
    border-radius:50%;
    border:5px solid black;
    box-shadow: 0 0 5px 5px grey;
    position:fixed; 
    top:17%;
    left:17%;
    margin-left:15px;
}

.pfp__image-div{
    height:200px;
    width:200px;
    position:relative;
    
}

.pfp__name{
   
    height: 50px;
    width:400px;
    position:fixed;
    left:35%;
    top:20%;
    text-align:center;
    padding:5px;
    color:teal;
    font-size:40px;

}

.bio__label{
    position: fixed;
    top:287px;
    left:650px;
    
    box-shadow: 0 0 5px 5px grey;
    border-radius:30px;
    padding:5px;
}   
.pfp__discription{
    
    box-shadow: 0 0 5px 5px grey;
    height: 100px;
    width:650px;
    position: fixed;
    top:310px;
    left:610px;
    padding:20px;
    border-radius:30px;
    margin-right:20px;
}

.user__bio{
    z-index: 1;
}


.profile__newpd{
    font-size:22px;
    color:black;
}
.user__bio{
    position: fixed;
    top:310px;
    left:630px;
}



.pfp__buttons{
    height: 30px;
    width:30px;
    position:fixed;
    left:80%;
    top:46%;
    display:flex;

}

.pfp__links-active{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px grey;
    background: lightgray;
    position:fixed;
    left:43%;
    top:53%;
    display:flex;
    align-items:center;
    justify-content:center;
    
}

.pfp__links-active:hover{
    transition: all .1s ease-in-out; 
    transform: scale(1.1);
    cursor:pointer;
   
   
}

.home__button-profile{
    color:white;
    z-index: 1;
}

.profile{
    color:white;
    height: 50px;
}
