products__bkg-layer1{
    position:fixed;
    top:0;


}

.product__read-div{
    border: 5px solid black; 
    width:700px;
    position:absolute;
    left:10%;
    height:100vh;
  

}

.pd__display{
    height:100vh;

}



.product__image{
    height:500px;
    width:600px;
}

.product__image-container{
    height:500px;
    width:600px;
    
}
