
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

.section{
    border: 3px solid orange;
}


.img__1{
    /* height:fill; */
    /* height:100%; */
    width: 100%;
    height: 100%;
    /* opacity: 0.5; */
    z-index:1;
} 

.position{
    width: 1903px;
    
}


.slideshow {
    width:fill;

    position:absolute;
    left: 0;
    bottom: 0;
    top:5%;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    z-index:1;
}

.container {
    width:100vw;
    height:fill;
    position:relative;
   top:0;
   left:0;
   bottom:0;
    animation:slide 70s ease-in-out infinite;
    display: flex;
    flex-direction: row;
    z-index:2;
    opacity: .5;
    

}



.container section {
    width:100%;
    float:left;
}


.text-container{
    height: 70vh;
    width:33%;
    position:absolute;
    left:35%;
    top:15%;
    background-color: #333333;
    border-radius:31% 69% 38% 62% / 20% 48% 52% 80%;
    z-index:3;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    /* opacity: 1; */
}


.title{
    font-family: 'Praise', cursive;
    font-size:73px; 
    color: 	#BDB5D5;
    position: absolute;
    top:4%;
    left: 10%;
}

.slogan{
    font-size: 33px;
    margin-left:60px;
    font-family: 'Praise', cursive;
    font-weight:lighter;
    color: 	#BDB5D5;
    position: absolute;
    bottom:20%;
}

.crysimage{
    background-image: url('../../Images/crystals.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:200px;
    width:200px;
    /* border: 3px solid green; */
    position: absolute;
    top:30%;
    left: 35%;
}

@keyframes slide {
    0% {left:0;} 
    25% {left:-1920px;}
    50% {left:-3840px;} 
    75% {left:-5760px;}
    100% {left:-7680px;}
} 


@media all and  (max-width:1629px ) {

    .text-container{
        height: 70vh;
        width:35%;
        position:absolute;
        left:35%;
        top:15%;
        background-color: #333333;
        border-radius:31% 69% 38% 62% / 20% 48% 52% 80%;
        z-index:3;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        /* opacity: 1; */
    }

    .title{
        font-family: 'Praise', cursive;
        font-size:73px; 
        color: 	#BDB5D5;
        position: absolute;
        top:4%;
        left: 10%;
    }
    
    .slogan{
        font-size: 33px;
        margin-left:60px;
        font-family: 'Praise', cursive;
        font-weight:lighter;
        color: 	#BDB5D5;
        position: absolute;
        bottom:10%;
        left:4%;
        padding: 10%;
    }
}


@media all and  (max-width:1493px ) {

    .text-container{
        /* height: 70vh; */
        width:35%;
        position:absolute;
        left:35%;
        top:15%;
        background-color: #333333;
        border-radius:50%;
        z-index:3;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        /* opacity: 1; */
    }

    .title{
        font-family: 'Praise', cursive;
        font-size:73px; 
        color: 	#BDB5D5;
        position: absolute;
        top:10%;
        left: 20%;
    }
    
    .slogan{
        font-size: 33px;
        margin-left:60px;
        font-family: 'Praise', cursive;
        font-weight:lighter;
        color: 	#BDB5D5;
        position: absolute;
        bottom:10%;
        left:1%;
        padding: 10%;
    }

    .crysimage{
        background-image: url('../../Images/crystals.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height:200px;
        width:200px;
        position: absolute;
        top:30%;
        left: 34%;
    }
}



@media all and  (max-width:1233px ) {

    .text-container{
        /* height: 70vh; */
        width:35%;
        position:absolute;
        left:35%;
        top:15%;
        background-color: #333333;
        border-radius:50%;
        z-index:3;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        /* opacity: 1; */
    }

    .title{
        font-family: 'Praise', cursive;
        font-size:73px; 
        color: 	#BDB5D5;
        position: absolute;
        top:5%;
        left: 30%;
        max-width: 50%;
        
    }
    
    .slogan{
        font-size: 33px;
        margin-left:60px;
        font-family: 'Praise', cursive;
        font-weight:lighter;
        color: 	#BDB5D5;
        position: absolute;
        bottom:10%;
        left:1%;
        padding: 10%;
    }

    .crysimage{
        background-image: url('../../Images/crystals.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height:150px;
        width:150px;
        position: absolute;
        top:38%;
        left: 33%;
    }
}
