
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
/* coursels */
/* 
.bkg__layer3-coursel{
    
    width:590px;
    height:65vh;
    position: fixed; 
    top: 100px;
    right: 200px;
    padding-top:70px;
    background: lightgray ;
    border-radius:20px;
    box-shadow: 0 0 5px 5px grey;
    
    
}

.top__coursel{
    border: 3px solid red;
    width: 100%;
    margin-top: 70px;
    display:flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    top:3%;
}


.bottom__coursel{
    border-radius:20px;
    width: 376px;
    height: 250px;
    margin-left: 180px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px grey;

}
 
/* 
.img__1{
    height:100%;
    opacity: 0.5;
    z-index:1;
} */

/* .img__container{
    display:flex;
    justify-content: center;
    margin-left: 751px
    
}

.img__container-bottom{
    display:flex;
    justify-content: center;
    margin-left: 577px;
    background-color: black;
    z-index: 2;
    
}

.position{
    position:relative;
    right:100;
} 


 
.slide{
    animation: slide 5s infinite;
    animation-direction:  normal; 
    
}   


@keyframes slide {
   0%   {right: 0px;}
   100% {right: 750px;}
}  

.slide__left:hover{
    animation: slide 5s infinite;
    animation-direction:  normal; 
    
}   


@keyframes slide__left {
   0%   {left: 0px;}
   100% {left: 750px;}
} 

.hover_div:hover{
    animation: slide 6s infinite;
    animation-direction:  normal;
} */ */

.section{
    border: 3px solid orange;
}


.img__1{
    /* height:fill; */
    /* height:100%; */
    width: 100%;
    height: 100%;
    /* opacity: 0.5; */
    z-index:1;
} 

.position{
    width: 1903px;
    
}


.slideshow {
    width:fill;

    position:absolute;
    left: 0;
    bottom: 0;
    top:5%;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    z-index:1;
}

.container {
    width:100vw;
    height:fill;
    position:relative;
   top:0;
   left:0;
   bottom:0;
    animation:slide 70s ease-in-out infinite;
    display: flex;
    flex-direction: row;
    z-index:2;
    opacity: .5;
    

}



.container section {
    width:100%;
    float:left;
}


.text-container{
    height: 70vh;
    width:30%;
    position:absolute;
    left:35%;
    top:15%;
    background-color: #333333;
    border-radius:31% 69% 38% 62% / 20% 48% 52% 80%;
    z-index:3;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    /* opacity: 1; */
}


.title{
    font-family: 'Praise', cursive;
    font-size:73px; 
    color: 	#BDB5D5;
    position: absolute;
    top:4%;
    left: 10%;
}

.slogan{
    font-size: 33px;
    margin-left:60px;
    font-family: 'Praise', cursive;
    font-weight:lighter;
    color: 	#BDB5D5;
    position: absolute;
    bottom:20%;
}

.crysimage{
    background-image: url('../../Images/crystals.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:200px;
    width:200px;
    /* border: 3px solid green; */
    position: absolute;
    top:30%;
    left: 35%;
}

@keyframes slide {
    0% {left:0;} 
    25% {left:-1920px;}
    50% {left:-3840px;} 
    75% {left:-5760px;}
    100% {left:-7680px;}
} 


