.profile-dropdown{
    height: fit-content;
    width:100px;
    background: white;
    position: fixed;
    top:13%;
    right:110px;
    
    

}

.nav__dropdown{
    border:2px solid grey;
    text-align:center;
    
}

.label{
    font-size:22px;
    width:100px;
    background:white;
    border-radius:0px;
}

.label:hover{
    transition: all .1s ease-in-out; 
    transform: scale(1.1);
    cursor:pointer;
    background:black;
    color:white;
    width:100px;
    
}

.logout__button{
    border-radius:0;
    background:white;
    border:none;
    font-size:22px;
}

li{
    list-style: none;
}

ul{
    padding:0;
}

.profile__icon-button{
    position:fixed;
    top:79px;
    border:transparent;
    background:transparent;
    right:190px;

}

.profile__icon-button:hover{
    cursor:pointer;
}

.icon{
    height:45px;
    width:50px;
}

i{
    height:30px;
    width:30px;
    
    
}


.home__pfp{
    /* border:5px black solid; */
    box-shadow: 0 0 5px 5px grey;
    /* height:70px;
    width:70px; */
    border-radius:50%;
    position:fixed;
    top:4%;
    left:90%; 
    background-size: 100% 100%;
}

